@import "normalize.css";
@import "fonts.css";
body {
  background: #fafafa;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #333333;
  min-height: 740px;
  line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
.step {
  position: relative;
  margin: 20px auto;
  width: 900px;
  height: 700px;
  padding: 0;
  margin: 0;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -ms-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.step.present,
.step.active {
  opacity: 1;
}
.credit {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  bottom: 0;
  text-align: center;
  font-weight: 200;
}
#title h1 {
  font-size: 72px;
  margin-bottom: 0;
}
#title h2 {
  font-size: 48px;
  color: #888888;
  margin: 0 0 0 12px;
}
#title h3 {
  position: absolute;
  right: 0;
  bottom: 72px;
  font-size: 48px;
  color: #3584a0;
}
#title h4 {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 48px;
  color: #3584a0;
}
#overview {
  height: 650px;
  padding: 20px;
  text-align: center;
}
#overview h1 {
  margin: 0 0 40px 0;
  font-size: 40px;
}
#overview .bar {
  fill: #3584a0;
}
#overview text {
  fill: #333333;
  font-size: 28px;
}
#overview .axis path,
#overview .axis line {
  fill: none;
  stroke: #888888;
  shape-rendering: crispEdges;
}
#overview .axis text {
  font-size: 20px;
  fill: #888888;
}
#overview .axis-title {
  font-size: 24px;
  fill: #888888;
}
#overview.past {
  opacity: 1;
}
.impress-on-thinking-fast-and-slow #overview.past {
  opacity: 1;
}
.impress-on-thinking-fast-and-slow #overview.past .a-story,
.impress-on-thinking-fast-and-slow #overview.past .why-visualisation,
.impress-on-thinking-fast-and-slow #overview.past .visual-process,
.impress-on-thinking-fast-and-slow #overview.past .perceiving-values,
.impress-on-thinking-fast-and-slow #overview.past .perceiving-relationships {
  opacity: 0.4;
}
.impress-on-why-visualisation #overview.past {
  opacity: 1;
}
.impress-on-why-visualisation #overview.past .a-story,
.impress-on-why-visualisation #overview.past .thinking-fast-and-slow,
.impress-on-why-visualisation #overview.past .visual-process,
.impress-on-why-visualisation #overview.past .perceiving-values,
.impress-on-why-visualisation #overview.past .perceiving-relationships {
  opacity: 0.4;
}
.impress-on-visual-process #overview.past {
  opacity: 1;
}
.impress-on-visual-process #overview.past .a-story,
.impress-on-visual-process #overview.past .why-visualisation,
.impress-on-visual-process #overview.past .thinking-fast-and-slow,
.impress-on-visual-process #overview.past .perceiving-values,
.impress-on-visual-process #overview.past .perceiving-relationships {
  opacity: 0.4;
}
.impress-on-perceiving-values #overview.past {
  opacity: 1;
}
.impress-on-perceiving-values #overview.past .a-story,
.impress-on-perceiving-values #overview.past .why-visualisation,
.impress-on-perceiving-values #overview.past .thinking-fast-and-slow,
.impress-on-perceiving-values #overview.past .visual-process,
.impress-on-perceiving-values #overview.past .perceiving-relationships {
  opacity: 0.4;
}
.impress-on-perceiving-relationships #overview.past {
  opacity: 1;
}
.impress-on-perceiving-relationships #overview.past .a-story,
.impress-on-perceiving-relationships #overview.past .why-visualisation,
.impress-on-perceiving-relationships #overview.past .thinking-fast-and-slow,
.impress-on-perceiving-relationships #overview.past .visual-process,
.impress-on-perceiving-relationships #overview.past .perceiving-values {
  opacity: 0.4;
}
#a-story h1 {
  font-size: 72px;
  margin: -75px auto 0 auto;
  position: absolute;
  left: 220px;
  top: 50%;
}
#john-arbuthnot {
  text-align: center;
  height: 600px;
}
#john-arbuthnot img {
  width: 450px;
}
#john-arbuthnot-table {
  width: 1000px;
  padding: 40px 0;
}
#john-arbuthnot-table h1 {
  text-align: center;
}
#john-arbuthnot-table table {
  float: left;
  margin-right: 30px;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
}
#john-arbuthnot-table table thead {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}
#john-arbuthnot-table table thead td {
  padding-bottom: 5px;
}
#john-arbuthnot-table table td {
  width: 70px;
}
.impress-on-john-arbuthnot-table2 #john-arbuthnot-table {
  opacity: 1;
}
.impress-on-john-arbuthnot-table2 #john-arbuthnot-table .uninteresting {
  opacity: 0.5;
}
#john-arbuthnot-chart h1 {
  text-align: center;
  margin-bottom: 0;
}
#john-arbuthnot-chart svg {
  margin-top: -65px;
  font-weight: 200;
}
#john-arbuthnot-chart.past {
  opacity: 1;
}
.impress-on-john-arbuthnot-table2 #john-arbuthnot-chart.past {
  opacity: 0;
}
#john-arbuthnot-chart2 {
  opacity: 0;
}
#john-arbuthnot-chart2.active,
.impress-on-john-arbuthnot-chart3 #john-arbuthnot-chart2 {
  opacity: 1;
}
#john-arbuthnot-chart3 {
  opacity: 0;
}
#john-arbuthnot-chart3.active {
  opacity: 1;
}
#john-arbuthnot-chart4 {
  opacity: 0;
}
#john-arbuthnot-chart4.active,
.impress-on-john-arbuthnot-chart5 #john-arbuthnot-chart4 {
  opacity: 1;
}
#john-arbuthnot-chart5 {
  opacity: 0;
}
#john-arbuthnot-chart5.active {
  opacity: 1;
}
#data-visualisation {
  height: 350px;
}
#data-visualisation blockquote {
  font-size: 48px;
}
#data-visualisation blockquote p {
  margin: 0 0 20px 0;
}
#data-visualisation blockquote footer {
  font-size: 36px;
  color: #888888;
  margin-left: 50px;
}
#data-visualisation.past {
  opacity: 1;
}
#system1-example {
  text-align: center;
  width: 600px;
  height: 435px;
}
#system1-example img {
  width: 100%;
}
#system1-example.past {
  opacity: 1;
}
#system2-example {
  height: 150px;
}
#system2-example h1 {
  font-size: 72px;
  text-align: center;
}
#system2-example.past {
  opacity: 1;
}
.system1-vs-system2 {
  width: 755px;
  height: 660px;
  padding: 0;
}
#system1-vs-system2-4.past {
  opacity: 1;
}
#senses-bandwidth {
  width: 820px;
  height: 620px;
  padding: 0;
}
#senses-bandwidth2 {
  width: 640px;
  height: 620px;
  padding: 0;
}
#senses-bandwidth2.past {
  opacity: 1;
}
#senses-bandwidth3 {
  width: 940px;
  height: 620px;
  padding: 0;
}
#senses-bandwidth3.past {
  opacity: 1;
}
#light-into-eyes {
  width: 545px;
  height: 345px;
}
#light-into-eyes.past {
  opacity: 1;
}
.impress-on-top-down-vs-bottom-up-example #light-into-eyes.past {
  opacity: 0;
}
#iconic-memory {
  width: 320px;
  height: 111px;
  text-align: right;
}
#iconic-memory.past {
  opacity: 1;
}
.impress-on-top-down-vs-bottom-up-example #iconic-memory.past {
  opacity: 0;
}
#features {
  width: 500px;
  height: 500px;
  text-align: center;
}
#features h1 {
  font-size: 48px;
  margin: 0;
}
#features.past {
  opacity: 1;
}
#features.past h1 {
  opacity: 0;
}
.impress-on-top-down-vs-bottom-up-example #features.past {
  opacity: 0;
}
#patterns {
  width: 561px;
  height: 500px;
  text-align: center;
}
#patterns h1 {
  font-size: 48px;
  margin: 0;
}
#patterns.past {
  opacity: 1;
}
#patterns.past h1 {
  opacity: 0;
}
.impress-on-top-down-vs-bottom-up-example #patterns.past {
  opacity: 0;
}
#visual-working-memory {
  width: 640px;
  height: 204px;
  text-align: right;
}
#visual-working-memory.past {
  opacity: 1;
}
.impress-on-top-down-vs-bottom-up-example #visual-working-memory.past {
  opacity: 0;
}
#objects,
#objects2,
#objects3 {
  width: 900px;
  height: 700px;
  text-align: center;
  font-size: 24px;
}
#objects.past,
#objects2.past,
#objects3.past {
  opacity: 1;
}
.impress-on-top-down-vs-bottom-up-example #objects.past,
.impress-on-top-down-vs-bottom-up-example #objects2.past,
.impress-on-top-down-vs-bottom-up-example #objects3.past {
  opacity: 0;
}
#objects.past h1 {
  opacity: 0;
}
#objects h1 {
  font-size: 48px;
  margin: 0;
}
#objects2 span {
  position: absolute;
}
#objects2 span:nth-child(1) {
  left: 400px;
  top: 240px;
}
#objects2 span:nth-child(2) {
  left: 435px;
  top: 260px;
  -webkit-transform: rotatez(-35deg);
  -moz-transform: rotatez(-35deg);
  -ms-transform: rotatez(-35deg);
  -o-transform: rotatez(-35deg);
  transform: rotatez(-35deg);
}
#objects2 span:nth-child(3) {
  left: 480px;
  top: 275px;
  -webkit-transform: rotatez(15deg);
  -moz-transform: rotatez(15deg);
  -ms-transform: rotatez(15deg);
  -o-transform: rotatez(15deg);
  transform: rotatez(15deg);
}
#objects2 span:nth-child(4) {
  left: 490px;
  top: 250px;
  -webkit-transform: rotatez(-5deg);
  -moz-transform: rotatez(-5deg);
  -ms-transform: rotatez(-5deg);
  -o-transform: rotatez(-5deg);
  transform: rotatez(-5deg);
}
#objects2 span:nth-child(5) {
  left: 525px;
  top: 295px;
}
#objects3 span {
  position: absolute;
}
#objects3 span:nth-child(1) {
  left: 570px;
  top: 275px;
  -webkit-transform: rotatez(-75deg);
  -moz-transform: rotatez(-75deg);
  -ms-transform: rotatez(-75deg);
  -o-transform: rotatez(-75deg);
  transform: rotatez(-75deg);
}
#objects3 span:nth-child(2) {
  left: 625px;
  top: 315px;
  -webkit-transform: rotatez(10deg);
  -moz-transform: rotatez(10deg);
  -ms-transform: rotatez(10deg);
  -o-transform: rotatez(10deg);
  transform: rotatez(10deg);
}
#objects3 span:nth-child(3) {
  left: 625px;
  top: 270px;
  -webkit-transform: rotatez(-20deg);
  -moz-transform: rotatez(-20deg);
  -ms-transform: rotatez(-20deg);
  -o-transform: rotatez(-20deg);
  transform: rotatez(-20deg);
}
#long-term-memory {
  width: 920px;
  height: 260px;
  margin-top: 63px;
  text-align: right;
}
#long-term-memory.past {
  opacity: 1;
}
.impress-on-top-down-vs-bottom-up-example #long-term-memory.past {
  opacity: 0;
}
#top-down-vs-bottom-up {
  width: 710px;
  height: 550px;
  margin-top: 37px;
}
#top-down-vs-bottom-up svg {
  margin-top: 50px;
}
#top-down-vs-bottom-up-example {
  width: 520px;
  height: 537px;
}
#visual-process-overview.past {
  opacity: 1;
}
#visual-process-overview svg {
  position: absolute;
  left: 459px;
  top: 100px;
  fill: none;
  stroke: #333333;
}
#visual-process-overview h2 {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 50px;
  position: absolute;
  top: 120px;
  color: #333333;
}
#visual-process-overview h2.system-1 {
  left: 160px;
}
#visual-process-overview h2.system-2 {
  left: 550px;
}
#preattentive-processing {
  width: 700px;
  height: 200px;
  text-align: center;
}
#preattentive-processing.past {
  opacity: 1;
}
#preattentive-processing h1 {
  font-size: 60px;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
}
#preattentive-processing-example,
#preattentive-processing-example2 {
  font-family: Arial, sans-serif;
  font-size: 32px;
  text-align: center;
  height: 180px;
}
#preattentive-processing-example p,
#preattentive-processing-example2 p {
  margin: 0;
}
#preattentive-processing-example2 .de-emphasise {
  opacity: 0.6;
}
#values-relationships {
  width: 600px;
}
#values-relationships > h2 {
  font-size: 48px;
  position: absolute;
  top: 40%;
}
#values-relationships > h2.values {
  left: 0;
}
#values-relationships > h2.relationships {
  right: 0;
}
#preattentive-visual-attributes {
  width: 579px;
  height: 680px;
}
#preattentive-visual-attributes.past {
  opacity: 1;
}
.impress-on-quantitative-preattentive-visual-attributes #preattentive-visual-attributes .not-quantitative {
  opacity: 0.5;
}
.impress-on-precise-quantitative-preattentive-visual-attributes #preattentive-visual-attributes .not-quantitative,
.impress-on-precise-quantitative-preattentive-visual-attributes #preattentive-visual-attributes .not-precise-quantitative {
  opacity: 0.5;
}
.impress-on-cleveland-mcgill #preattentive-visual-attributes,
.impress-on-bar-chart #preattentive-visual-attributes,
.impress-on-line-chart #preattentive-visual-attributes,
.impress-on-pie-chart #preattentive-visual-attributes,
.impress-on-treemap #preattentive-visual-attributes {
  opacity: 0;
}
#cleveland-mcgill {
  width: 900px;
  height: 747px;
}
#cleveland-mcgill .scale {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
#cleveland-mcgill.past {
  opacity: 1;
}
#cleveland-mcgill.past .scale {
  opacity: 0;
}
#cleveland-mcgill svg {
  margin: 0 auto;
  display: block;
}
#cleveland-mcgill .credit {
  text-align: right;
  width: 180px;
  left: auto;
  right: 0;
}
#bar-chart.past,
#line-chart.past,
#pie-chart.past,
#treemap.past {
  opacity: 0;
}
#bar-chart {
  height: 490px;
}
#bar-chart rect {
  fill: #3584a0;
}
#bar-chart .axis path,
#bar-chart .axis line {
  fill: none;
  stroke: #888888;
  shape-rendering: crispEdges;
}
#bar-chart .axis text {
  display: none;
}
#line-chart {
  height: 453px;
}
#pie-chart {
  height: 500px;
}
#pie-chart .arc path {
  stroke: #333333;
}
#treemap {
  height: 620px;
}
#scales {
  width: 50px;
  height: 440px;
}
#scales.past {
  opacity: 1;
}
#perceiving-relationships {
  width: 600px;
}
#perceiving-relationships h3 {
  font-size: 48px;
  display: inline-block;
  position: absolute;
  top: 420px;
  right: 0;
}
.gestalt {
  text-align: center;
  width: 600px;
  height: 500px;
}
.gestalt svg {
  width: 100%;
}
.gestalt.past {
  opacity: 1;
}
.gestalt.example.past {
  opacity: 0;
}
.impress-on-gestalt-similarity-example #gestalt-similarity {
  opacity: 0;
}
#gestalt-similarity-example text {
  display: none;
}
#gestalt-similarity-example .axis path,
#gestalt-similarity-example .axis line {
  fill: none;
  stroke: #888888;
  shape-rendering: crispEdges;
}
#gestalt-similarity-example .axis text {
  font-size: 20px;
  fill: #888888;
}
.impress-on-gestalt-proximity-example2 #gestalt-proximity {
  opacity: 0;
}
#gestalt-proximity-example2 svg {
  margin-top: 190px;
}
.impress-on-gestalt-enclosure-example #gestalt-enclosure,
.impress-on-gestalt-enclosure-example2 #gestalt-enclosure {
  opacity: 0;
}
#gestalt-enclosure-example > img {
  width: 100%;
}
.impress-on-gestalt-connection-example #gestalt-connection {
  opacity: 0;
}
#gestalt-connection-example > svg {
  width: 100%;
}
#gestalt-principles,
#ordering {
  height: 100px;
  text-align: center;
}
#gestalt-principles h1,
#ordering h1 {
  font-size: 60px;
  margin: 0;
  padding: 0;
}
#gestalt-principles.past,
#ordering.past {
  opacity: 1;
}
.ordering-example {
  height: 650px;
  padding: 20px;
  text-align: center;
}
.ordering-example h1 {
  margin: 0 0 40px 0;
  font-size: 40px;
}
.ordering-example .bar {
  fill: #3584a0;
}
.ordering-example text {
  fill: #333333;
  font-size: 28px;
}
.ordering-example .axis path,
.ordering-example .axis line {
  fill: none;
  stroke: #888888;
  shape-rendering: crispEdges;
}
.ordering-example .axis text {
  font-size: 20px;
  fill: #888888;
}
.ordering-example .axis-title {
  font-size: 24px;
  fill: #888888;
}
.ordering-example.past {
  opacity: 1;
}
#fairfield {
  text-align: center;
  width: 1000px;
}
#fairfield > svg {
  width: 100%;
}
#fairfield .toggle {
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -ms-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.impress-on-fairfield2 #fairfield {
  opacity: 1;
}
.impress-on-fairfield2 #fairfield .toggle {
  opacity: 1;
}
#stockflux {
  text-align: center;
  width: 900px;
  height: 650px;
}
#stockflux > img {
  width: 100%;
}
#intraday {
  text-align: center;
  width: 1200px;
  height: 744px;
}
#intraday > img {
  width: 100%;
}
#topq {
  text-align: center;
  width: 900px;
  height: 740px;
}
#topq > img {
  width: 100%;
}
#finish {
  height: 400px;
  text-align: center;
}
#finish h1 {
  font-size: 72px;
}
#finish h3,
#finish h4 {
  font-size: 48px;
  color: #3584a0;
  margin: 0;
}
#finish h4 {
  margin-bottom: 80px;
}
#finish h5 {
  font-size: 24px;
  color: #888888;
  margin: 0;
  padding: 0;
}
#finish .background {
  background-color: #fafafa;
  width: 2000px;
  height: 2000px;
  position: absolute;
  top: -500px;
  left: -500px;
  z-index: -500;
}
